body {
  margin: 0;
  padding: 0;
}
.header_main {
  display: block;
  text-align: center;
  clear: both;
  position: relative;
}
.header_main ul {
  background: #fff;
  -webkit-box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}
.header_main ul li {
  list-style: none;
  border-left: 1px solid #e7e7e7;
  padding: 10px;
}
.header_main ul li:first-child {
  border-left: none;
}
.header_main ul li a {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
